
*.vsidx
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.designer.runtimeconfig.json
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.designer.runtimeconfig.json
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.GeneratedMSBuildEditorConfig.editorconfig
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.designer.runtimeconfig.json
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.designer.runtimeconfig.json
AuditReportWriter/obj/Debug/net7.0-windows/AuditReportWriter.assets.cache
